/*-- scss:defaults --*/
// Import EB Garamond Google font
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

// Colors
$dark-blue: #5581B1;
$light-blue: #97bbE9;
$cream: #FDFBF7;
$dark-gray: #48494B;

// Base Document Colors
$navbar-bg: $dark-blue;
$navbar-fg: $cream;
$body-bg: $cream;
$body-color: $dark-gray;
$link-colo: $light-blue;

//text
figcaption {
  text-align: center;
}
